
html {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@font-face {
    font-family: 'Lato Light';
    src: url('/fonts/latolight.woff2') format('woff2'),
         url('/fonts/latolight.woff') format('woff');
}

@font-face {
font-family: 'GillSansMTStd-ExtraBold';
src: url('/fonts/gillsans_extrabold.eot');
src: url('/fonts/gillsans_extrabold.eot?#iefix') format('embedded-opentype'),
     url('/fonts/gillsans_extrabold.woff2') format('woff2'),
     url('/fonts/gillsans_extrabold.ttf') format('truetype');
}

// Primary colors
$orange: #f37021;
$black: #000000;
$white: #ffffff;
$field-grey: #cbc4bc;

// Secondary colors
$maroon: #842f15;
$yellow: #fed35f;
$purple: #9055a2;
$teal: #006662;
$blue: #00accb;
$green: #46bc96;

// Break points
$break-for-large-screens: 768px;
$break-for-medium-screens: 361px;

$global-text-color: lighten($black, 80%);

$background-color-dark: rgba(lighten($black, 80%), 0.8);
$background-color-white: rgba($white, 0.9);

$global-max-width: 1340px;

$gutter: 10px;

$global-text-size: 1;

$global-h1-size: $global-text-size * 1.8;
$global-h2-size: $global-text-size * 1.2;
$global-h3-size: $global-text-size * 1.2;
$global-h4-size: $global-text-size * 1.1;
$global-h5-size: $global-text-size * 1;
$global-h6-size: $global-text-size * 1;

svg {
  fill: $orange;
  width: 60px;
  height: 60px;
  text {
    fill: #fff;
    font-family: GillSansMTStd-ExtraBold;
    font-size: 45px;
  }
}

@function rem-convert ($size) {
  @return #{$size}rem;
}

// Set text color as per background darkness
@function set-text-color($background-color: $white, $theme-color: $orange) {
  @if (lightness($background-color) > 50) {
    @return if($theme-color, $theme-color, $global-text-color);
  } @else {
    @return $white; // Darker background, return light color
  }
}

p, a {
  font-family: 'Lato Light', sans-serif;
  font-size: rem-convert($global-text-size);
}

h1 {
  font-size: rem-convert($global-h1-size);
  @media screen and (min-width: $break-for-large-screens) {
    font-size: rem-convert($global-h1-size);
  }

}
h2 {
  font-size: rem-convert($global-h2-size);

}
h3 {
  font-size: rem-convert($global-h3-size);

}
h4 {
  font-size: rem-convert($global-h4-size);

}
h5 {
  font-size: rem-convert($global-h5-size);

}
h6 {
  font-size: rem-convert($global-h6-size);
  padding-bottom: rem-convert($global-h6-size * 0.9);
}

h1, h2, h3, h4, h5, h6, label {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

select {
  margin: 0;
  padding: 1rem auto;
}

@media screen and (min-width: $break-for-large-screens) {
    h1, h2, h3, h4, h5, h6, label {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
}

.scroll-no {
  // height: 100%;
  // overflow-y: hidden;
}

.box {
  display: block;
  max-width: $global-max-width;
  margin: 0 auto;

}

@mixin container ($background-color: none) {
  position: relative;
  background-color: $background-color;

  .container-image {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .background-image {
          position: absolute;
          left: -9999px;
          right: -9999px;
          width: auto;
          margin: 0 auto;
          max-width: none;
          @media screen and (max-width: $break-for-large-screens) {
              height: 100%;
          }
      }
      .layer-down {
          position: absolute;
          width: auto;
          left: -9999px;
          right: -9999px;
          bottom: 0;
          transition: bottom ease 0.5s;
      }
  }

  @media screen and (min-width: $break-for-large-screens) {
    .container-image {
      overflow-y: hidden;
      .background-image {
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            bottom: 0px;
      }
      .layer-down {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
    .hover-animation {
        .layer-down {
          bottom: -240px;
        }
      }
  }
  // Slider css activation
  $num: 10;
  @while $num > 0 {
    #input-#{$num}:checked {
      &~ .centered {
        bottom:70%;
      }
      &~ #content-#{$num} {
        bottom: 0;
      }
    }
    $num: $num - 1;
  }
}

// height can either be % to keep ratio or px or 0 to discard it
@mixin flexbox ($gutter, $max-width: $global-max-width, $height: 45%, $margin-bottom: 10px, $split...) {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: stretch;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  &.wrap {
    flex-wrap: wrap;
  }
  @media screen and (min-width: $break-for-large-screens) {
    &.wrap {
      flex-wrap: nowrap;
    }
  }
  div[class*="column"] {
    @media screen and (min-width: $break-for-large-screens) {
      margin-right: $gutter;
    }
    overflow: hidden;
  }
  @if($split) {
    @include column($height, $margin-bottom, $gutter, $split...);
  }
}

@mixin column ($height, $margin-bottom: 10px, $gutter:10px, $split...) {
    @if($split) {
    @each $column in $split {
      .column-12-#{$column} {
        position: relative;
        width: 99.99%;
        margin-bottom: $margin-bottom;
        @media screen and (min-width: $break-for-large-screens) {
          width: calc( 99.99% * #{$column} / 12 - (#{$gutter} - #{$gutter} * #{$column} / 12 ));
        }
        @if ($height != 0) {
          @if (unit($height) == '%') {
                padding-bottom: $height * 3;
            @media screen and (max-width: $break-for-medium-screens) {
                padding-bottom: $height * 2;
            }   
            @media screen and (min-width: $break-for-large-screens) {
                padding-bottom: $height * $column / 12;
            }
          } @else {
            padding-bottom: $height;
          }
          max-height: 100%;
        } @else {
          padding-bottom: 0;
        }

        $columnNumber: 12 / #{$column};

        &:nth-child(#{$columnNumber}) {
          margin-right: 0;
        }
      }
    }
  }
}

@mixin content-panel ($background-color: $white, $theme-color: $orange, $header-size: 0.8) {
  .content-panel {
    margin: 1rem;

    h1, h2 {
        font-family: 'GillSansMTStd-ExtraBold';
    }

    @include call-to-action($background-color, $theme-color);

    .content-header {
      position: absolute;
      color: white;
      bottom: 50%;
      left: 50%;
      width: 95%;
      z-index: 20;
      transform: translate(-50%, 50%);
      transition: bottom ease 0.5s;
      //background: radial-gradient(ellipse at center, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 70%);
      z-index:100;
      text-align: center;

      h1, h2, h3, h4, h5, h6, p {
        color: white;
        padding: 0;
      }

      h1, h2, h3, h4, h5, h6 {
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
      }

      p {
        padding-left: 0;
        padding-right: 0;
      }

      @media screen and (min-width: $break-for-large-screens) {
        h1 {
          font-size: rem-convert($global-h1-size * $header-size) !important;
        }
        h2 {
          font-size: rem-convert($global-h3-size * $header-size) !important;
          padding-left: 10%;
          padding-right: 10%;
        }
      }

      p.background {
        text-align: center;
        span {
        background-color: $purple;
        padding: 0.3rem 0;
      }
      }
    }

    svg {
      fill: $theme-color;
      text {

      }
    }
    .content {
      position: absolute;
      left: 0;
      bottom: -500px;
      padding: 1rem 2rem;
      overflow: hidden;
      height: 50%;
      z-index: 200;
      width: 100%;
      transition: bottom ease 0.5s;

      &.center {
        text-align: center;
      }

      h2 {
        font-family: 'GillSansMTStd-ExtraBold';
        font-size: calc(1.5rem * $header-size);
        color: #00accb;
      }

      h3 {
        color: #fff;
        font-size: 1.4rem;
      }
    }
  }
}

@mixin content-slider ($height: 50%, $background-color: $black, $transparency: 1, $font-color: white, $flexbox-inner-width: 70%, $theme-color: $orange, $direction: left) {
  .content-slider {
    position: fixed;
    top: 0px;
    box-shadow: -14px -14px 39px -17px rgba(0,0,0,0.75);
    padding-top: 80px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    height: $height;
    z-index: 1000;
    width: 97%;
    transition: $direction ease-in 0.3s;
    border-left:solid $theme-color 1px;
    background: rgba($background-color, $transparency);
    background-image: url("/images/sand_background.png");
    text-align: center;
    div[class*="column"] {
      background-color: $white;
    }
    .header-image-text {
        position: relative;
        padding-bottom: 300px;
        padding-bottom: 58%;
        width: 100%;
        overflow: hidden;
        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 50;
            filter:brightness(80%);
        }
        h3 {
            font-family: GillSansMTStd-ExtraBold;
            color: $font-color; 
            text-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
            font-size: rem-convert($global-h1-size);
            // @media screen and (max-width: $break-for-large-screens) {
            //     font-size: rem-convert($global-h1-size);
            // } 
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 100;
            padding-bottom: 0;
        }
    }
    &.hidden-no {
      @if $direction == left {
          left: 3%;
        } @else {
          right:3%;
        }
      div.close {
        background-color: $theme-color;
        padding: 2px;
        
        @if $direction == left {
          border-bottom-right-radius: 5px;
          left: 0;
        } @else {
          border-bottom-left-radius: 5px;
          right: 0;
        }
        z-index: 5000;
        text-align: right;
        cursor: pointer;
        img {
            width: 50px;
            height: 50px;
            position: relative;
            transform: translateZ(0); 
        }
        position: absolute;
            top: 0px;
        &.top {
            position: absolute;
            top: 0px;
        }
        &.bottom {
            position: fixed;
            bottom: 0px;
        }
      }
    }
    &.hidden-yes {
      .close {
        display: none;
      }
      @if $direction == left {
          left: 400px;
        } @else {
          right: 400px;
        }
      
      @media screen and (min-width: $break-for-medium-screens) {
        @if $direction == left {
          left: $break-for-large-screens;
        } @else {
          right: $break-for-large-screens;
        }
      }
      @media screen and (min-width: $break-for-large-screens) {
        @if $direction == left {
          left: 5000px;
        } @else {
          right: 5000px;
        }
      }
    }

    h1, h2, h3, h4, h5, h6, p, a, label {
      @if (lightness($background-color) < 50) {
        color: $white;
      } @else {
        color: $black;
      }
    }
    p {
      text-align: left;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
    }
    .btn-secondary {
      margin-bottom: 1rem;
    }

    @media screen and (min-width: $break-for-large-screens) {
      h1, h2, h3, h4, h5, h6, img:not(.icon) {
        display: block;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 1rem;
      }
      p {
          padding: 0.5rem;
      }
      img:not(.icon) {
        padding: 0;
      }
    }

    .donation-box {
      h4 {
        color: $black;
      }
    }
    img {
      // padding: 0.5rem;
    }

    .flexbox {
      display: flex;
      max-width: $flexbox-inner-width;
    }
  }
}

@mixin call-to-action ($background-color: $white, $theme-color: $orange) {
    .btn-primary {
      display: inline-block;
      border-radius: 10px;
      color: set-text-color($background-color, $white);
      font-size: 1.4rem;
      font-family: 'Lato Light', sans-serif;
      padding: 0.8rem 1rem;
      margin: 5px;
      text-decoration: none;
      transition: box-shadow ease 0.5s;
      background: $theme-color;
      cursor: pointer;
      width: 95%;
      border: 1px solid lighten($theme-color, 5%);
      @media screen and (min-width: $break-for-large-screens) {
        width: auto;
      }
      img {
        padding-right: 0.5rem;
      }

      &:hover {
        text-decoration: none;
        box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.34);
      }
    }

    .btn-secondary {
      display: inline-block;
      border-radius: 10px;
      font-family: 'Lato Light', sans-serif;
      color: $black;
      font-size: 1.4rem;
      margin: 5px;
      padding: 0.8rem 1rem;
      text-decoration: none;
      background: white;
      border: 1px solid lighten($black, 80%);
      // width: 95%;
      // @media screen and (min-width: $break-for-large-screens) {
      //   width: auto;
      // }
      &.orange {
        border: solid #f37021 0.2rem;
      }
      &.blue {
        border: solid #00accb 0.2rem;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }

#menu-container {
  position: relative;
  z-index: 600;
  background-color: lighten($field-grey, 100%);
  font-family: 'Lato Light', sans-serif;
  text-transform: uppercase;
  margin-top: -10px;

.flexbox {
    @include flexbox (0px, $global-max-width, 0, 0, 3);
    // background-color: lighten($field-grey, 15%);
    div {
      display: inline-block;
      position: relative;
      text-align: center;
      vertical-align: middle;
      height: 50px;
      &:hover {
        background-color: lighten($field-grey, 15%);
      }
      a {
        display: block;
        line-height: 3.5rem;
        color: $black;
        height: 100%;
        width: 100%;
      }
    }
  }
}
